.pie{
    display: flex;
    justify-content: space-between;
    background-color: #251368;
    padding: 10px;

    h2{
        color: white;
        font-size: 30px;
        margin-top:6px;
        text-align: center;
    }
    .redes{
        display: flex;
        justify-content: end;
        align-items: center;
        
        i {
            font-size: 40px;
            color: rgb(255, 255, 255);
            margin: 5px; 
            &:hover{
               transform: scale(1.3);
            }
        }  
    }
   
}