

// TRASLATE MAIN - PRODUCTOS //
.productos .card-productos div img {
    transition: 2s;
}

//CONTENIDO CARD GAMES //
.games .card-games .contenido img{
    transition: 2s;
}

i{
    transition: 1s;
}

